<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirme seu E-mail</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f4f4f4; padding: 20px 0;">
    <tr>
      <td align="center">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background: #ffffff; border: 1px solid #cccccc; max-width: 600px">
          <!-- Header -->
          <tr>
            <td align="center" style="padding: 20px;">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Logo" style="max-width: 50px; display: block; margin-bottom: 10px;">
              <h1 style="margin: 0; font-size: 22px; color: #000;">Hora de recuperar sua senha</h1>
            </td>
          </tr>
          <!-- Content -->
          <tr>
            <td align="center" style="padding: 20px; color: #333333;">
              <p style="margin: 0 0 20px; font-size: 16px; line-height: 1.6;">Recebemos uma solicitação para redefinir a senha associada à sua conta. Para prosseguir com a recuperação de senha, por favor, utilize o seguinte código de confirmação:</p>
              <p style="margin: 0 0 20px; font-size: 20px; line-height: 1.6; font-weight: 600">{{code}}</p>
              <p style="margin: 20px 0; font-size: 16px; line-height: 1.6;">Por favor, insira este código no campo apropriado no nosso site para continuar o processo de redefinição de sua senha. Este código é válido por 2 dias e deve ser usado imediatamente para garantir a segurança da sua conta.</p>
              <p style="margin: 20px 0; font-size: 16px; line-height: 1.6;">Se você não solicitou a redefinição de senha, ignore este e-mail. Nenhuma alteração será feita em sua conta. Para qualquer dúvida ou necessidade de assistência adicional, entre em contato conosco pelo e-mail <a target="_blank" style="color: #007bff" href="mailto:oi@gustavoleite.dev">oi@gustavoleite.dev</a></p>
              <p>Um abraço,</p>
              <p>Equipe Meu cardápio</p>
            </td>
          </tr>
          <!-- Footer -->
          <tr>
            <td align="center" style="padding: 10px; font-size: 14px; color: #777777; background: #f4f4f4;">
              <p style="margin: 0;">Precisa de ajuda?Contate nosso time de suporte <a href="mailto:support@company.com" style="color: #007bff; text-decoration: none;">suporte@gustavoleite.dev</a>.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>